<li class="list-group-item folder-item" id="<%= dom_id(folder) %>" data-folder-id="<%= folder.id %>" <% if @selected_elements.include? folder %> style="background: #f7f9fa" <% end %>
   data-action="
    drop@window->folders#drop
    dragstart@window->folders#dragstart
    dragover@window->folders#dragover
    dragenter@window->folders#dragenter
    dragend@window->folders#dragend
    dragleave@window->folders#dragleave
  ">
  <%#= link_to folder_path(folder) do %>
    <div class="row"
      data-folder-id="<%= folder.id %>"
      data-action="
        drop@window->folders#drop
        dragstart@window->folders#dragstart
        dragover@window->folders#dragover
        dragenter@window->folders#dragenter
        dragend@window->folders#dragend
        dragleave@window->folders#dragleave
      "
    >
      <div class="col-auto">
        <i class="far <% if @selected_elements.include? folder %>fa-check-square <% else %>fa-square<% end %>" data-id="<%= folder.id %>" data-reflex="click->FolderReflex#select_folder" style="line-height: 30px"></i>
      </div>
      <div class="col-auto">
        <i class="fa fa-folder fa-2x" style="color: #9ecdfa"></i>
      </div>
      <div class="col" style="font-size: 14px; line-height: 30px">
        <div style="font-size: 14px">

          <% if @editing_folder == folder %>
            <input
              type="text"
              class="form-control"
              data-reflex="change->FolderReflex#change_name"
              value="<%= folder.name %>"
              data-id="<%= folder.id %>"
            >
          <% else %>
            <%= link_to folder.name, folder %>
          <% end %>
        </div>
      </div>
      <div class="col d-none d-sm-block text-muted" style="font-size: 14px; line-height: 30px">
        <div style="font-size: 14px"><%= folder.created_at.iso8601 %></div>
      </div>
      <div class="col-auto">
        <% if @editing_folder == folder %>
          <i class="fa fa-save" data-reflex="click->FolderReflex#finish" data-id="<%= folder.id %>"></i>
        <% else %>
          <i class="fa fa-pen" data-reflex="click->FolderReflex#edit" data-id="<%= folder.id %>"></i>
        <% end %>
      </div>
    </div>
  <%# end %>
</li>
