<% current_folder ||= nil %>
<% folders ||= [] %>
<% documents ||= [] %>

<div class="row mb-5">
  <div class="col-6">
    <%= render partial: 'create_actions', locals: { current_folder: current_folder } %>
  </div>
  <div class="col-6">
    <%= render partial: 'layout_switch', locals: { layout: @layout } %>
  </div>
</div>

<div id="folder" data-controller="folders" data-reflex-root="#folder">
  <% if @layout == 'list' %>
    <ul class="list list-group">
      <%= render partial: 'folders/parent_folder', locals: { folder: current_folder } %>
      <%= render partial: 'folders/item', collection: folders, as: :folder %>
      <%= render partial: 'documents/item', collection: documents, as: :document %>
    </ul>
  <% else %>
    <%= render partial: 'folders/parent_folder', locals: { folder: current_folder } %>
    <div class="grid row">
      <%= render partial: 'folders/grid_item', collection: folders, as: :folder %>
      <%= render partial: 'documents/grid_item', collection: documents, as: :document %>
    </div>
  <% end %>

  <% if folders.empty? && documents.empty? %>
    <%= render partial: 'folders/empty' %>
  <% end %>

  <% if @selected_elements.any? %>
    <button class="btn btn-primary text-white mt-5" data-reflex="click->ElementReflex#unselect_all">
      <i class="fas fa-square"></i> Unselect all
    </button>

    <button class="btn btn-danger mt-5" data-reflex="click->ElementReflex#bulk_delete">
      <i class="fa fa-trash"></i> Delete <%= pluralize(@selected_elements.count, 'item') %>
    </button>
  <% end %>
</div>
