<div class="grid-item folder-item folder-grid-item <%= grid_item_classes(@layout) %> mt-4 text-center">
  <%= link_to folder do %>
    <div
      id="<%= dom_id(folder) %>"
      class="p-4 card folder-item"
      draggable="true"
      data-folder-id="<%= folder.id %>"
      data-reflex-root="#folder"
      data-action="
        drop->folders#drop
        dragover->folders#dragover
        dragenter->folders#dragenter
        dragleave->folders#dragleave
        dragstart->folders#dragstart
        dragend@window->folders#dragend
      "
    >
      <i class="fa fa-folder fa-3x text-info"></i><br/>
      <div class="name folder-name">
        <%= folder.name %>
      </div>
    </div>
  <% end %>
</div>
