<% selected_elements ||= [] %>
<% selected = selected_elements.include?(folder_item) %>

<li
  id="<%= dom_id(folder) %>"
  class="list-item folder-list-item list-group-item folder-item
    <%= selected ? 'selected' : '' %>
  "
  data-folder-id="<%= folder.id %>"
  data-reflex-root="#folder"
  draggable="true"
  data-action="
    drop->folders#drop
    dragover->folders#dragover
    dragenter->folders#dragenter
    dragleave->folders#dragleave
    dragstart->folders#dragstart
    dragend@window->folders#dragend
  ">
    <div class="row">
      <div class="col-auto select">
        <i
          class="far fa-<%= selected ? 'check-square' : 'square' %>"
          data-reflex-dataset="combined"
          data-reflex="click->FolderReflex#select"
          style="line-height: 30px"
        ></i>
      </div>
      <div class="col-auto icon">
        <i class="fa fa-folder fa-2x text-info"></i>
      </div>
      <div class="col name folder-name">
        <% if @editing_folder == folder %>
          <form data-reflex="submit->FolderReflex#finish" data-reflex-dataset="combined">
            <input
              data-reflex="change->FolderReflex#change_name"
              data-reflex-dataset="combined"
              class="form-control"
              value="<%= folder.name %>"
            >
          </form>
        <% else %>
          <%= link_to folder.name, folder %>
        <% end %>
      </div>
      <div class="col d-none d-sm-block text-muted date">
        <div><%= folder.created_at.iso8601 %></div>
      </div>
      <div class="col-auto actions">
        <i class="fa fa-trash btn btn-light" data-reflex="click->FolderReflex#delete" data-reflex-dataset="combined"></i>

        <span data-reflex-root="#<%= dom_id(folder) %>">
          <% if @editing_folder == folder %>
            <i class="fa fa-save btn btn-primary" data-reflex="click->FolderReflex#finish" data-reflex-dataset="combined"></i>
          <% else %>
            <i class="fa fa-pen btn btn-light" data-reflex="click->FolderReflex#edit" data-reflex-dataset="combined"></i>
          <% end %>
        </span>
      </div>
    </div>
</li>
