<li class="list-group-item">
  <%= link_to document_path(document) do %>
    <div class="row">
      <div class="col-auto">
        <i class="far <% if @selected_document == document %>fa-check-square <%else %>fa-square<% end %>" data-id="<%= document.id %>" data-reflex="click->FolderReflex#select_document" style="line-height: 30px"></i>
      </div>
      <div class="col-auto">
        <i class="fa fa-file fa-2x" style="color: lightgray"></i>
      </div>
      <div class="col" style="font-size: 14px; line-height: 30px; margin-left: 7px">
        <div style="font-size: 14px" data-reflex="dblclick->FolderReflex#select_document" data-id="<%= document.id %>">
          <%= document.name %>
        </div>
      </div>
      <div class="col d-none d-sm-block text-muted" style="font-size: 14px; line-height: 30px">
        <div style="font-size: 14px"><%= document.created_at.iso8601 %></div>
      </div>
    </div>
  <% end %>
</li>
