<li
  id="<%= dom_id(document) %>"
  data-document-id="<%= document.id %>"
  data-reflex-root="#folder"
  draggable="true"
  data-action="dragstart->folders#dragstart"
  class="list-item document-list-item list-group-item document-item
    <%= @selected_elements.include?(document) ? 'selected' : '' %>
  ">
  <div class="row">
    <div class="col-auto select">
      <i
        class="far fa-<%= @selected_elements.include?(document) ? 'check-square' : 'square' %>"
        data-reflex-dataset="combined"
        data-reflex="click->DocumentReflex#select"
        style="line-height: 30px"
      ></i>
    </div>
    <div class="col-auto icon">
      <i class="fa fa-file fa-2x text-secondary"></i>
    </div>
    <div class="col name document-name" style="margin-left: 7px">
      <% if @editing_document == document %>
        <form data-reflex="submit->DocumentReflex#finish" data-reflex-dataset="combined">
          <input
            data-reflex="change->DocumentReflex#change_name"
            data-reflex-dataset="combined"
            class="form-control"
            value="<%= document.name %>"
          >
        </form>
      <% else %>
        <%= link_to document.name, document %>
      <% end %>
    </div>
    <div class="col d-none d-sm-block text-muted date">
      <div style="font-size: 14px"><%= document.created_at.iso8601 %></div>
    </div>
    <div class="col-auto actions">
      <i class="fa fa-trash btn btn-light" data-reflex="click->DocumentReflex#delete" data-reflex-dataset="combined"></i>

      <span data-reflex-root="#<%= dom_id(document) %>">
        <% if @editing_document == document %>
          <i class="fa fa-save btn btn-primary" data-reflex="click->DocumentReflex#finish" data-reflex-dataset="combined"></i>
        <% else %>
          <i class="fa fa-pen btn btn-light" data-reflex="click->DocumentReflex#edit" data-reflex-dataset="combined"></i>
        <% end %>
      </span>
    </div>
  </div>
</li>
