<!DOCTYPE html>
<html>
  <head>
    <title>Boxdrop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= content_tag :meta, '', name: 'viewport', content: 'width=device-width, initial-scale=1' %>
    <%= content_tag :meta, '', name: 'application-name', content: 'Boxdrop' %>
    <%= content_tag :link, '', rel: 'apple-touch-icon', sizes: '180x180', href: '/apple-touch-icon.png' %>
    <%= content_tag :link, '', rel: 'shortcut icon', href: '/favicon.ico' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbo-track': 'reload' %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/regular.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/solid.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/brands.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/fontawesome.css">
  </head>

  <body>
    <div id="app" class="container"><br/>
      <nav class="navbar navbar-light bg-light rounded">
        <%= link_to root_path, class: 'col-auto px-3' do %>
          <%= image_tag "boxdrop.png", height: '50px' %>
        <% end %>
      </nav><br/>

      <%= yield %>
    </div>

    <footer class="footer fixed-bottom mt-3 p-3 bg-primary">
      <div class="row text-light">
        <div class="col-md-4 col-6 text-md-left text-center">
        <small>
          <span class="align-middle">This is a</span>
          <a href="https://github.com/hopsoft/stimulus_reflex" target="_blank">
            <img height="30px" src="https://raw.githubusercontent.com/hopsoft/stimulus_reflex_expo/master/app/assets/images/stimulus-reflex-logo-with-copy-white.svg" alt="StimulusReflex Logo">
          </a>
          <span class="align-middle">demo</span>
        </small>
        </div>

        <div class="col-md-4 col-6 text-center">
          <small>
            <a href="https://github.com/marcoroth/boxdrop" target="_blank" class="text-light">
              <span class="align-bottom">
                <i class="fab fa-github"></i> Check out the repo
              </span>
            </a>
          </small>
        </div>

        <div class="col-md-4 d-none d-md-block text-end">
          <small>
            <a href="https://github.com/marcoroth" target="_blank" class="text-light">
              <span class="align-bottom">@marcoroth</span>
            </a>
          </small>
        </div>
      </div>
    </footer>
  </body>
</html>
