<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    <title>DropboxClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container"><br/>
      <nav class="navbar navbar-light bg-light">
        <%= link_to root_path, class: 'col-auto p-0' do %>
          <i class="fab fa-dropbox"></i>
        <% end %>
        <%= link_to "Dropbox", root_path, class: 'navbar-brand col' %>
      </nav><br/>

      <div data-controller="folders">
        <div data-action="drop@window->folders#drop dragstart@window->folders#dragstart dragover@window->folders#dragover">
          <%= yield %>
        </div>
      </div>
    </div>

    <br/><br/><br/><br/><br/><br/><br/>

    <!-- <footer class="text-muted mt-auto py-3">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>This Dropbox clone demonstrates the functionality of StimulusReflex.</p>
        <p>New to StimulusReflex? <a href="https://github.com/hopsoft/stimulus_reflex/" target="_blank">Visit the GitHub repo</a> or get started by <a href="https://docs.stimulusreflex.com" target="_blank">reading the docs</a>.</p>
      </div>
    </footer> -->
  </body>
</html>
