<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    <title>Boxdrop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container"><br/>
      <nav class="navbar navbar-light bg-light">
        <%= link_to root_path, class: 'col-auto p-0' do %>
          <%= image_tag "boxdrop.png", height: '50px' %>
        <% end %>
      </nav><br/>

      <%= yield %>
    </div>
  </body>
</html>
