<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    <title>DropboxClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container"><br/>
      <nav class="navbar navbar-light bg-light">
        <%= link_to root_path, class: 'col-auto p-0' do %>
          <i class="fab fa-dropbox" style="color: blue; font-size: 32px"></i>
        <% end %>
        <%= link_to "Dropbox", root_path, class: 'navbar-brand col' %>
      </nav><br/>

      <div data-controller="folders">
        <div data-action="drop@window->folders#drop dragstart@window->folders#dragstart dragover@window->folders#dragover">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
