<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    <title>DropboxClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container"><br/>
      <nav class="navbar navbar-light bg-light">
        <%= link_to root_path, class: 'navbar-brand' do %>
          <svg class="maestro-nav__logo" aria-label="Start" xmlns="http://www.w3.org/2000/svg" role="img" width="32px" height="32px" viewBox="0 0 32 32" style="fill:"><title></title><path fill="blue" d="M8 2.4l8 5.1-8 5.1-8-5.1 8-5.1zm16 0l8 5.1-8 5.1-8-5.1 8-5.1zM0 17.7l8-5.1 8 5.1-8 5.1-8-5.1zm24-5.1l8 5.1-8 5.1-8-5.1 8-5.1zM8 24.5l8-5.1 8 5.1-8 5.1-8-5.1z"></path></svg>
          <span style="margin-left: 10px">
            Dropbox
          </span>
        <% end %>
      </nav><br/>

      <%= yield %>
    </div>
  </body>
</html>
