<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    <title>Boxdrop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="app" class="container"><br/>
      <nav class="navbar navbar-light bg-light">
        <%= link_to root_path, class: 'col-auto p-0' do %>
          <%= image_tag "boxdrop.png", height: '50px' %>
        <% end %>
      </nav><br/>

      <%= yield %>
    </div>

    <footer class="footer fixed-bottom mt-3 p-3 bg-primary">
      <div class="row text-light">
        <div class="col-md-4 col-6 text-md-left text-center">
        <small>
          <span class="align-middle">This is a</span>
          <a href="https://github.com/hopsoft/stimulus_reflex" target="_blank">
            <img height="30px" src="https://raw.githubusercontent.com/hopsoft/stimulus_reflex_expo/master/app/assets/images/stimulus-reflex-logo-with-copy-white.svg" alt="StimulusReflex Logo">
          </a>
          <span class="align-middle">demo</span>
        </small>
        </div>

        <div class="col-md-4 col-6 text-center">
          <small>
            <a href="https://github.com/marcoroth/boxdrop" target="_blank" class="text-light">
              <span class="align-bottom">
                <i class="fab fa-github"></i> Check out the repo
              </span>
            </a>
          </small>
        </div>

        <div class="col-md-4 d-none d-md-block text-right">
          <small>
            <a href="https://github.com/marcoroth" target="_blank" class="text-light">
              <span class="align-bottom">@marcoroth</span>
            </a>
          </small>
        </div>
      </div>
    </footer>
  </body>
</html>
